<a href="https://colab.research.google.com/github/Leehembling/bootcamp/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
print("Hi, my name is Lee.", end=3*"\n")

Hi, my name is Lee.

In [ ]:
name_1 = "Lee"
name_2 = "Hembling"
print("Hello, my name is:\n",name_1, name_2)

Hello, my name is:
 Lee Hembling

In [ ]:
num_1 = 5
num_2 = 10

print(num_1 + num_2)

15

In [ ]:
num_1 * num_2

50

In [ ]:
print(type(num_1))

<class 'int'>

Using f-string literal

In [ ]:
Lee = 1
Helen = 2
Gurgi = 3

print(f"Lee has {Lee} apples, Helen has {Helen} apples, and Gurgi (typically) has {Gurgi} apples.")

Lee has 1 apples, Helen has 2 apples, and Gurgi (typically) has 3 apples.

input()

In [ ]:
print("Tell me anything")

anything = input()
print("Hmm...", anything, "...really?!")

Tell me anything
Bananas
Hmm... Bananas ...really?!

In [ ]:
user_number_1 = float(input("Please enter a number:"))
user_number_2 = float(input("Please enter a  second number:"))

print(user_number_1, "is great than", user_number_2, user_number_1>user_number_2)
print(user_number_1, "is equal to", user_number_2, user_number_1==user_number_2)
print(user_number_1, "is less than", user_number_2, user_number_1<user_number_2)

Please enter a number:5
Please enter a  second number:10
5.0 is great than 10.0 False
5.0 is equal to 10.0 False
5.0 is less than 10.0 True

In [ ]:
n = int(input("Enter a number:"))
if n > 100:
  print("Is greater than 100")
elif n < 100:
  print("Is less than 100")
else:
  print("The number is 100")

Enter a number:100
The number is 100

In [ ]:
i = 1
while i<10:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
print("It's Bananas!\n")
for x in "Bananas":
  print(x)

It's Bananas!

B
a
n
a
n
a
s

In [ ]:
Gwen = "Bananas"
print("It's ",Gwen,"!\n")
mylist = list(Gwen)
print(mylist)

It's  Bananas !

['B', 'a', 'n', 'a', 'n', 'a', 's']

In [ ]:
time_hour = float(input("Tell me the time in hours. I will calculate and display in minutes:"))
print("The time in minutes is:", time_hour*60)

Tell me the time in hours. I will calculate and display in minutes:10
The time in minutes is: 600.0

# **Lists**

In [ ]:
fruitlist = ["apple", "banana", "peach", "orange", "mango", "cherry"]
print(fruitlist[-4:-1])
print(fruitlist[1:3])

['peach', 'orange', 'mango']
['banana', 'peach']

In [ ]:
if "apple" in fruitlist:
  print("Yes this is in the list")

Yes this is in the list

In [ ]:
chosen_fruit = input("Name a fruit:")
cleaned_input = chosen_fruit.lower()
if cleaned_input in fruitlist:
  print("This fruit is in the basket ")
else:
  print("This fruit is not in the basket")

Name a fruit:Banana
This fruit is in the basket

**Insert**

In [ ]:
fruitlist.insert(2, "watermelon")
print(fruitlist)

['apple', 'banana', 'watermelon', 'peach', 'orange', 'mango', 'cherry']

**Append** (Goes at the end)

In [ ]:
fruitlist.append("Papaya")
print(fruitlist)

['apple', 'banana', 'watermelon', 'peach', 'orange', 'mango', 'cherry', 'Papaya']

**Extend** (appends items from another list)

In [ ]:
morefruit = ["Grapes", "Clementine", "Blueberry"]
fruitlist.extend(morefruit)
print(fruitlist)

['apple', 'banana', 'watermelon', 'peach', 'orange', 'mango', 'cherry', 'Papaya', 'Grapes', 'Clementine', 'Blueberry']

**User adds fruit to list**

In [ ]:
addfruit = input("Add a fruit:")
cleaned_input = addfruit.lower()
if cleaned_input in fruitlist:
  print("This fruit is already in the basket.")
else:
  fruitlist.append(addfruit)
  print(addfruit, "has been added to the basket")

print(fruitlist)
print("There are currently", (len(fruitlist)),"fruits in the basket.")

Add a fruit:apple
This fruit is already in the basket.
['apple', 'banana', 'clementine', 'cumquat', 'grapes', 'lychee', 'mango', 'orange', 'papaya', 'peach', 'plum', 'raspberry', 'watermelon', 'watermelon', 'watermelon']
There are currently 15 fruits in the basket.

**Amend items**

In [ ]:
fruitlist[7] = 'papaya'
fruitlist[8] = 'grapes'
fruitlist[9] = 'clementine'
fruitlist[10]= 'blueberry'
fruitlist[11] = 'raspberry'
print(fruitlist)

['apple', 'banana', 'watermelon', 'peach', 'orange', 'mango', 'cherry', 'papaya', 'grapes', 'clementine', 'blueberry', 'raspberry', 'lychee', 'plum', 'cumquat']

**Better method**

In [ ]:
fruitlist[0:3] = ["apple", "banana", "watermelon"]
sorted_fruits = fruitlist.sort()
print(fruitlist)
print(len(fruitlist))

['apple', 'banana', 'clementine', 'cumquat', 'grapes', 'lychee', 'mango', 'orange', 'papaya', 'peach', 'plum', 'raspberry', 'watermelon', 'watermelon', 'watermelon']
15

**Tuple**

In [ ]:
# Create a tuple

fruit_tuple = ("apple", "banana", "cherry")
print(fruit_tuple)

('apple', 'banana', 'cherry')

In [ ]:
print(fruit_tuple[1])

banana

In [ ]:
print(fruit_tuple[-1])

cherry

In [ ]:
# Convert tuple to list so it can be edited

new_fruit_list = list(fruit_tuple)
print(new_fruit_list)

['apple', 'banana', 'cherry']

**Dictionary**

In [ ]:
# Create and print a dictionary:

thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "colours": ["red", "white", "blue"]
}
print(thisdict)
print(thisdict["model"])
print(thisdict["colours"])
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colours': ['red', 'white', 'blue']}
Mustang
['red', 'white', 'blue']
<class 'dict'>

In [ ]:
custDict = dict(name = "Lee",age=40,country="UK")
print(custDict)

{'name': 'Lee', 'age': 40, 'country': 'UK'}

In [ ]:
print(custDict.keys())
print(custDict.values())

dict_keys(['name', 'age', 'country'])
dict_values(['Lee', 40, 'UK'])

**While loops**

In [ ]:
capitalGuess = input("What is the capital of Latvia? ")
numberOfGuesses = 1

while capitalGuess.lower() != "riga":
  numberOfGuesses += 1
  capitalGuess = input("Guess again: ")

print("Well done. The capital of Latvia is Riga\n It took you:", numberOfGuesses,"guesses.")

What is the capital of Latvia? riga
Well done. The capital of Latvia is Riga
 It took you: 1 guesses.